<h1>管理員建立商品</h1>

<div class="row">
  <div class="col-md-4">
    <form action="/admin/products" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
      </div>
      <div class="form-group">
        <label for="phone">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Enter description" name="description">
      </div>
      <div class="form-group">
        <label for="address">Price</label>
        <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>